.container {
  height: 93.85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/landingPageBackground.jpg') no-repeat center center/cover;
}

.container h1 {
  color: white;
  font-size: 4rem;
}

.container a {
  padding: 1rem 4rem;
  background: black;
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
}