.container {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container img {
  width: 600px;
  height: 800px;
  object-fit: cover;
}

.info {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.info p {
  width: 200px;
}

.info h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.info .btns button {
  padding: .5rem 2rem;
  background: black;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }

  .container img {
    width: 200px;
    height: 200px;
  }

  .info {
    width: 200px;
    height: 800px;
    text-align: center;
  }

  .info .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .info .btns button {
    margin: 0;
    padding: 1rem 3rem;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .container {
    margin: auto;
  }

  .container img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    margin-left: 50px;
  }

  .info {
    width: 400px;
    height: 600px;
  }
}