.card {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin-left: 20px;
  text-align: center;
  background: white;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card a {
  display: block;
  width: 200px;
  padding: 1rem 2rem;
  background: black;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  margin: auto;
}

.card p {
  margin: auto;
  width: 350px;
}